//https://www.color-name.com/ генератор названия цвета
$color-black: #000;
$color-white: #fff;
$color-green-sheen: #65bf95;
$color-jet: #353434;
$color-black-olive: #404040;
$color-cultured: #f7f7f7;
$color-sonic-silver: #767676;
$color-spanish-gray: #9e9e9e;
$color-old-silver: #848484;
$color-dark-liver: #4f4f4f;
$color-bright-gray: #eee;
$color-gray: #7f7d7d;
$color-dim-gray: #6b6b6b;
$color-green: #1ea365;

$fonts-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";

$Lato-Black: "Lato-Black", $fonts-default;
$Lato-Black-Italic: "Lato-Black-Italic", $fonts-default;

$Lato-Black: "Lato-Black", $fonts-default;
$Lato-Black-Italic: "Lato-Black-Italic", $fonts-default;

$Lato-Bold: "Lato-Bold", $fonts-default;
$Lato-Bold-Italic: "Lato-Bold-Italic", $fonts-default;

$Lato-Hairline: "Lato-Hairline", $fonts-default;
$Lato-Hairline-Italic: "Lato-Hairline-Italic", $fonts-default;

$Lato-Heavy: "Lato-Heavy", $fonts-default;
$Lato-Heavy-Italic: "Lato-Heavy-Italic", $fonts-default;

$Lato-Light: "Lato-Light", $fonts-default;
$Lato-Light-Italic: "Lato-Light-Italic", $fonts-default;

$Lato-Medium: "Lato-Medium", $fonts-default;
$Lato-Medium-Italic: "Lato-Medium-Italic", $fonts-default;

$Lato-Regular: "Lato-Regular", $fonts-default;
$Lato-Italic: "Lato-Italic", $fonts-default;

$Lato-Semibold: "Lato-Semibold", $fonts-default;
$Lato-Semibold-Italic: "Lato-Semibold-Italic", $fonts-default;

$Lato-Thin: "Lato-Thin", $fonts-default;
$Lato-Thin-Italic: "Lato-Thin-Italic", $fonts-default;

$container-width: 147rem;
$min-width: 32rem;

$laptop-width: 1215px;
$tablet-width: 1023px;
$mobile-width: 768px;

$mobile-middle-width: 640px;
$mobile-small-width: 460px;